<nav class="navbar navbar-expand-lg navbar-light navbar-lg shadow {{style}}">
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-white text-lg" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white text-lg" href="/categories">Categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white text-lg" href="/leaderboard">Leaderboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white text-lg" href="/create">Create</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
