<script>
  function getQuizType() {
    return $('#typeField').val();
  }

  function trueOrFalseHtml(id) {
    var html =
      `<div class="text-center mt-4 h-100 custom-control custom-switch">` +
      `<input type="checkbox" class="question-answer custom-control-input" id="answer${id}">` +
      `<label class="custom-control-label question-answer-for" for="answer${id}">False</label>` +
      `</div>`;

    return html;
  }

  function fillInTheBlankHtml(id) {
    var html = `<textarea class="question-answer form-control w-100 shadow-sm" rows="3" id="answer${id}"></textarea>`;
    return html;
  }

  function answerHtml(id, type) {
    var html =
      type == 'torf' ? trueOrFalseHtml(id) :
      type == 'fill' ? fillInTheBlankHtml(id) : '';
    return html;
  }

  function itemHtml(id, type) {
    var answer = answerHtml(id, type);
    var html =
      `<tr class="question">` +
      `<td class="align-middle">` +
      `<div>&nbsp;</div>` +
      `<div class="question-number text-center align-middle">${id}</div>` +
      `</td>` +
      `<td>` +
      `<div class="text-center mb-1">Question</div>` +
      `<textarea class="question-text form-control w-100 shadow-sm" rows="3" style="resize: none;"></textarea>` +
      `</td>` +
      `<td>` +
      `<div class="text-center mb-1">Answer</div><div class="answer">` +
      answer +
      `</div></td>` +
      `<td class="align-middle">` +
      `<input type="file" id="file${id}" class="question-file form-control inputfile" />` +
      `<label class="question-file-for" for="file${id}">Add media</label>` +
      `</td>` +
      `<td class="align-middle">` +
      `<button class=" btn btn-link text-red delete-quiz-item"><i class="fa fa-times"></i></button>` +
      `</td>` +
      `</tr>`;

    return html;
  }

  function itemCount() {
    return $('#quiz-items .question').length;
  }

  function reassignId(itemElement, newId) {
    var root = $(itemElement);
    var itemNo = root.find('.question-number');
    var itemFile = root.find('.question-file');
    var itemFileFor = root.find('.question-file-for');
    var itemAnswer = root.find('.question-answer');
    var itemAnswerFor = root.find('.question-answer-for');

    itemNo.text(newId);
    itemFile.attr('id', 'file' + newId);
    itemFileFor.attr('for', 'file' + newId);
    itemAnswer.attr('id', 'answer' + newId);
    itemAnswerFor.attr('for', 'answer' + newId);
  }

  function reassignType(itemElement, type) {
    var root = $(itemElement);
    var itemNo = root.find('.question-number');
    var itemAnswer = root.find('.answer');
    var id = itemNo.text();

    var html = answerHtml(id, type);

    itemAnswer.empty();
    itemAnswer.append(html);
  }
  
  $(document).ready(function() {
    $('#quiz-items').on('click', 'button.delete-quiz-item', function(e) {
      $(this).parents('.question').remove();
      $('#count').val(itemCount());

      $('#quiz-items .question').each(function(index, element) {
        reassignId(element, index + 1);
      });
    });

    $('#quiz-items').on('change', 'input.question-answer[type="checkbox"]', function(e) {
      var elem = e.currentTarget;
      var selector = `label[for="${elem.id}"]`; 
      var label = $(selector);
      label.text(elem.checked ? 'True' : 'False');
    });

    $('#typeField').change(function(e) {
      $('#quiz-items .question').each(function(index, element) {
        reassignType(element, getQuizType());
      });
    });

    $('#create-quiz-item').click(function(e) {
      if (!getQuizType()) {
        alert('Please select a quiz type first.');
        return;
      }

      var id = itemCount() + 1;
      var type = getQuizType();

      var html = itemHtml(id, type);
      $('#quiz-items').append(html);
      $('#count').val(itemCount());
    });

    $('#quiz-editor-button').click(function(e) {
      $('#quiz-editor').submit();
    });
  });
</script>
