<script>
  function getQuizType() {
    return $('#typeField').val();
  }

  function trueOrFalseHtml(id) {
    var html =
      '<div class="form-check form-check-inline">' +
      `<input class="question-answer form-check-input" type="radio" name="answer${id}" id="answer${id}True" value="true">` +
      `<label class="form-check-label" for="answer${id}True">True</label>` +
      '</div>' +
      '<div class="form-check form-check-inline">' +
      `<input class="question-answer form-check-input" type="radio" name="answer${id}" id="answer${id}False" value="false">` +
      `<label class="form-check-label" for="answer${id}False">False</label>` +
      '</div>';
    return html;
  }

  function fillInTheBlankHtml(id) {
    var html = `<textarea class="question-answer w-100" rows="5" name="answer${id}"></textarea>`;
    return html;
  }

  function answerHtml(id, type) {
    var html =
      type == 'torf' ? trueOrFalseHtml(id) :
      type == 'fill' ? fillInTheBlankHtml(id) : '';
    return html;
  }

  function itemHtml(id, type) {
    var answer = answerHtml(id, type);
    var html =
      `<div class="row question mb-3">` +
      `<div class="question-number col col-1 my-auto text-center">${id}</div>` +
      `<div class="col col-2 mx-auto my-auto custom-file">` +
      `<input type="file" class="question-file custom-file-input stretched-link" name="file${id}" id="file${id}">` +
      `<label class="custom-file-label question-file-for" for="file${id}">Select media...</label>` +
      `</div>` +
      `<div class="col col-4">` +
      `<textarea class="question-text w-100" rows="5" name="question${id}"></textarea>` +
      `</div>` +
      `<div class="col col-4 answer">` +
      answer +
      `</div>` +
      `<div class="col col-1 my-auto">` +
      `<button class="btn btn-link text-red delete-quiz-item"><i class="fa fa-times"></i></button>` +
      `</div>` +
      `</div>`;
    return html;
  }

  function itemCount() {
    return $('#quiz-items .question').length;
  }

  function reassignId(itemElement, newId) {
    var root = $(itemElement);
    var itemNo = root.find('.question-number');
    var itemFile = root.find('.question-file');
    var itemFileFor = root.find('.question-file-for');
    var itemText = root.find('.question-text');
    var itemAnswer = root.find('.question-answer');

    itemNo.text(newId);
    itemFile.attr('name', 'file' + newId);
    itemFile.attr('id', 'file' + newId);
    itemFileFor.attr('for', 'file' + newId);
    itemText.attr('name', 'question' + newId);
    itemAnswer.attr('name', 'answer' + newId);
  }

  function reassignType(itemElement, type) {
    var root = $(itemElement);
    var itemNo = root.find('.question-number');
    var itemAnswer = root.find('.answer');
    var id = itemNo.text();

    var html = answerHtml(id, type);

    itemAnswer.empty();
    itemAnswer.append(html);
  }
  
  $(document).ready(function() {
    $('#quiz-items').on('click', 'button.delete-quiz-item', function(e) {
      $(this).parents('.question').remove();
      $('#count').val(itemCount());

      $('#quiz-items .question').each(function(index, element) {
        reassignId(element, index + 1);
      });
    });

    $('#typeField').change(function(e) {
      $('#quiz-items .question').each(function(index, element) {
        reassignType(element, getQuizType());
      });
    });

    $('#create-quiz-item').click(function(e) {
      if (!getQuizType()) {
        alert('Please select a quiz type first.');
        return;
      }

      var id = itemCount() + 1;
      var type = getQuizType();

      var html = itemHtml(id, type);
      $('#quiz-items').append(html);
      $('#count').val(itemCount());
    });

    $('#quiz-editor-button').submit(function(e) {
      $('#quiz-editor').submit();
    });
  });
</script>
