<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>{{ title }}</title>
    
    <link rel="stylesheet" href="/lib/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/lib/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/styles/site.css">
    <link rel="stylesheet" href="/styles/login.css">

    <script src="/lib/jquery/jquery-3.5.1.min.js"></script>
    <script src="/lib/popper/popper.min.js"></script>
    <script src="/lib/bootstrap/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    {{> title navStyle="bg-custom-blue" textStyle="text-custom-white" isLoginScreen="yes" }}

    <div class="container p-3">
      {{{ body }}}
    </div>
  </body>
</html>
