<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{ title }}</title>

    <link rel="stylesheet" href="/lib/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/lib/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/styles/site.css">
    <link rel="stylesheet" href="/styles/answer.css">

    <script src="/lib/jquery/jquery-3.5.1.min.js"></script>
    <script src="/lib/popper/popper.min.js"></script>
    <script src="/lib/bootstrap/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    {{> title navStyle="bg-custom-white" textStyle="text-custom-blue" isLoginScreen="" user=user }}
    {{> navigation style="bg-custom-blue" }}

    <div class="container p-3">
      {{{ body }}}
    </div>

    <footer class="pt-5 pb-3 bg-custom-primary">
      <div class="container">
        <div class="row">
          <div class="col col-md-6">
            <h2>QUEAZY</h2>
            <p>Write something about the company and what it does.</p>
          </div>
          <div class="col col-md-3">
            <h5>COMPANY</h5>
            <p><a href="/team">TEAM</a></p>
            <p><a href="/npm">NPM PACKAGES</a></p>
          </div>
          <div class="col col-md-3">
            <h5>KEEP CONNECTED</h5>
            <p>
                <a href="https://www.facebook.com/Queazy-107600711102117">
                    <i class="mr-1 fab fa-facebook-f"></i>Like us on Facebook!
                </a>
            </p>
            <p><a href="https://www.instagram.com/queaazy/"><i class="mr-1 fab fa-instagram"></i> Follow us on Instagram!</a></p>
            <p><a href="https://twitter.com/_queazy"><i class="mr-1 fab fa-twitter"></i> Follow us on Twitter!</a></p>
            <p><a href="https://www.youtube.com/channel/UCrF-u3TaNsNSpsXPbJivVQw?view_as=subscriber"><i class="mr-1 fab fa-youtube"></i> Subscribe to our Youtube channel!</a></p>
          </div>
        </div>
        <div><p>Copyright &copy; 2020 Queazy</p></div>
      </div>
    </footer>
  </body>
</html>
