<div class="genre-container">
  {{#each genres}}
    <div class="card bg-dark text-white text-center bg-darken">
      <img class="card-img" src="{{this.image}}" alt="Geography">
      <div class="card-img-overlay">
        <h5 class="card-title"><a href="/genre/{{this.id}}" class="card-link stretched-link">{{this.name}}</a></h5>
      </div>
    </div>
  {{/each}}
</div>
