<div class="row mb-3">
  <div class="col col-sm-3">
    <div class="card bg-dark text-white text-center bg-darken">
      <img class="card-img" src="/images/geography.jpg" alt="Geography">
      <div class="card-img-overlay">
        <h5 class="card-title"><a href="/category/geography" class="card-link stretched-link">Geography</a></h5>
      </div>
    </div>
  </div>
  <div class="col col-sm-3">
    <div class="card bg-dark text-white text-center bg-darken">
      <img class="card-img" src="/images/movies.jpg" alt="Movies">
      <div class="card-img-overlay">
        <h5 class="card-title"><a href="/category/movies" class="card-link stretched-link">Movies</a></h5>
      </div>
    </div>
  </div>
  <div class="col col-sm-3">
    <div class="card bg-dark text-white text-center bg-darken">
      <img class="card-img" src="/images/sports.jpg" alt="Sports">
      <div class="card-img-overlay">
        <h5 class="card-title"><a href="/category/sports" class="card-link stretched-link">Sports</a></h5>
      </div>
    </div>
  </div>
  <div class="col col-sm-3">
    <div class="card bg-dark text-white text-center bg-darken">
      <img class="card-img" src="/images/academic.jpg" alt="Academics">
      <div class="card-img-overlay">
        <h5 class="card-title"><a href="/category/academic" class="card-link stretched-link">Academic</a></h5>
      </div>
    </div>
  </div>
</div>
<div class="row mb-3">
  <div class="col col-sm-3">
    <div class="card bg-dark text-white text-center bg-darken">
      <img class="card-img" src="/images/tv.jpg" alt="TV">
      <div class="card-img-overlay">
        <h5 class="card-title"><a href="/category/tv" class="card-link stretched-link">TV</a></h5>
      </div>
    </div>
  </div>
  <div class="col col-sm-3">
    <div class="card bg-dark text-white text-center bg-darken">
      <img class="card-img" src="/images/vocabulary.jpg" alt="Vocabulary">
      <div class="card-img-overlay">
        <h5 class="card-title"><a href="/category/vocabulary" class="card-link stretched-link">Vocabulary</a></h5>
      </div>
    </div>
  </div>
  <div class="col col-sm-3">
    <div class="card bg-dark text-white text-center bg-darken">
      <img class="card-img" src="/images/history.jpg" alt="History">
      <div class="card-img-overlay">
        <h5 class="card-title"><a href="/category/history" class="card-link stretched-link">History</a></h5>
      </div>
    </div>
  </div>
  <div class="col col-sm-3">
    <div class="card bg-dark text-white text-center bg-darken">
      <img class="card-img" src="/images/trivias.jpg" alt="Trivias">
      <div class="card-img-overlay">
        <h5 class="card-title"><a href="/category/trivias" class="card-link stretched-link">Trivias</a></h5>
      </div>
    </div>
  </div>
</div>
