<div style="height: calc(100vh - 8em);" class="position-relative">
  <div class="position-absolute w-100" style="left:50%;top:50%;transform:translate(-50%,-50%);max-width:480px;">
    {{#if error}}
      <div class="alert alert-danger" role="alert">
        {{error}}
      </div>
    {{/if}}
    <form action="/login" method="POST">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fa fa-user"></i></span>
        </div>
        <input type="text" name="username" class="form-control" placeholder="Username" aria-label="Username">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fa fa-lock"></i></span>
        </div>
        <input type="password" name="password" class="form-control" placeholder="Password" aria-label="Password">
      </div>
      <input type="hidden" name="returnUrl" value="{{returnUrl}}">
      <div class="mx-auto text-center">
        <button type="submit" class="btn bg-custom-blue text-custom-white shadow-sm mb-3">Log In</button>
        <p class="text-gray">Don't have an account? <a href="/register">REGISTER HERE</a></p>
      </div>
    </form>
  </div>
</div>
