<div class="container mt-3">
  <div class="my-5 mx-auto text-center">
    <img src="/images/npm-logo-red.png" width="128">
  </div>

  <h3 class="text-center">Here are the <a class="text-red" href="https://www.npmjs.com/">npm</a> packages used in the website!</h3>

  <ul id="npm-packages">
    <li><a class="stretched-link" href="https://www.npmjs.com/package/express">express</a></li>
    <li><a class="stretched-link" href="https://www.npmjs.com/package/express-handlebars">express-handlebars</a></li>
    <li><a class="stretched-link" href="https://www.npmjs.com/package/express-session">express-session</a></li>
    <li><a class="stretched-link" href="https://www.npmjs.com/package/handlebars">handlebars</a></li>
    <li><a class="stretched-link" href="https://www.npmjs.com/package/body-parser">body-parser</a></li>
    <li><a class="stretched-link" href="https://www.npmjs.com/package/bus-boy">bus-boy</a></li>
    <li><a class="stretched-link" href="https://www.npmjs.com/package/mongoose">mongoose</a></li>
    <li><a class="stretched-link" href="https://www.npmjs.com/package/multer">multer</a></li>
    <li><a class="stretched-link" href="https://www.npmjs.com/package/nodemon">nodemon</a></li>
    <li><a class="stretched-link" href="https://www.npmjs.com/package/path">path</a></li>
    <li><a class="stretched-link" href="https://www.npmjs.com/package/extend">extend</a></li>
  </ul>

  <div class="text-center"><small>npm is a registered trademark of npm, Inc.</small></div>
</div>
