<div class="container mt-3" id="team">
  <h1 class="text-custom-blue">The Team</h1>
  <h4>Meet the creators of Queazy!</h4>

  <div class="row">
    <div class="col col-lg-4">
      <div class="card mb-3">
        <img src="/images/aaron.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title text-custom-blue text-center">Aaron Guarnes</h3>
          <p class="card-text text-center">Desc</p>
        </div>
      </div>
    </div>
    <div class="col col-lg-4">
      <div class="card mb-3">
        <img src="/images/jay.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title text-custom-blue text-center">Miguel Millonado</h3>
          <p class="card-text text-center">Desc</p>
        </div>
      </div>
    </div>
    <div class="col col-lg-4">
      <div class="card mb-3">
        <img src="/images/shanicka.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title text-custom-blue text-center">Shanicka Minor</h3>
          <p class="card-text text-center">Desc</p>
        </div>
      </div>
    </div>
  </div>
</div>
