<div class="clearfix">
  <div class="float-left"><h1>{{profile.name}}</h1></div>
  {{#ifEquals user.id value=profile.id}}
    <div class="float-right"><a class="btn text-custom-white bg-custom-blue" href="/editprofile">Edit profile</a></div>
  {{/ifEquals}}
</div>
<hr>

<div class="row">
  <div class="col col-sm-4">
    <h4><span class="text-custom-dark-blue">3</span> Created Quizzes</h4>
  </div>
  <div class="col col-sm-4">
    <h4><span class="text-custom-dark-blue">5</span> Answered Quizzes</h4>
  </div>
  <div class="col col-sm-4">
    <h4><span class="text-custom-dark-blue">4</span> Liked Quizzes</h4>
  </div>
</div>

<h3 class="mt-3">Quiz History</h3>
<div id="quiz-history" class="row row-cols-1 row-cols-md-3 row-cols-lg-4">
  <div class="col mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Sample quiz title</h5>
        <p class="card-text">
          <span class="text-custom-dark-blue">10 out of 10</span><br>
          <span class="text-custom-dark-blue">08:43</span><br>
          <span class="text-custom-dark-blue">2 retakes</span>
        </p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Sample quiz title</h5>
        <p class="card-text">
          <span class="text-custom-dark-blue">10 out of 10</span><br>
          <span class="text-custom-dark-blue">08:43</span><br>
          <span class="text-custom-dark-blue">2 retakes</span>
        </p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Sample quiz title</h5>
        <p class="card-text">
          <span class="text-custom-dark-blue">10 out of 10</span><br>
          <span class="text-custom-dark-blue">08:43</span><br>
          <span class="text-custom-dark-blue">2 retakes</span>
        </p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Sample quiz title</h5>
        <p class="card-text">
          <span class="text-custom-dark-blue">10 out of 10</span><br>
          <span class="text-custom-dark-blue">08:43</span><br>
          <span class="text-custom-dark-blue">2 retakes</span>
        </p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Sample quiz title</h5>
        <p class="card-text">
          <span class="text-custom-dark-blue">10 out of 10</span><br>
          <span class="text-custom-dark-blue">08:43</span><br>
          <span class="text-custom-dark-blue">2 retakes</span>
        </p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Sample quiz title</h5>
        <p class="card-text">
          <span class="text-custom-dark-blue">10 out of 10</span><br>
          <span class="text-custom-dark-blue">08:43</span><br>
          <span class="text-custom-dark-blue">2 retakes</span>
        </p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Sample quiz title</h5>
        <p class="card-text">
          <span class="text-custom-dark-blue">10 out of 10</span><br>
          <span class="text-custom-dark-blue">08:43</span><br>
          <span class="text-custom-dark-blue">2 retakes</span>
        </p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Sample quiz title</h5>
        <p class="card-text">
          <span class="text-custom-dark-blue">10 out of 10</span><br>
          <span class="text-custom-dark-blue">08:43</span><br>
          <span class="text-custom-dark-blue">2 retakes</span>
        </p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Sample quiz title</h5>
        <p class="card-text">
          <span class="text-custom-dark-blue">10 out of 10</span><br>
          <span class="text-custom-dark-blue">08:43</span><br>
          <span class="text-custom-dark-blue">2 retakes</span>
        </p>
      </div>
    </div>
  </div>
</div>
